.App {
  width: 80%;
  margin: 20px auto;
  min-height: 80vh;
  border: 4px purple solid;
  border-radius: 12px;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  gap: 20px;
}
